<main>
    <section>
        
         <div class="container">
    <div class="row">
    <div class="col-sm-6">
<div class="card testimonial-card">

    <!--Bacground color-->
    <div class="card-up default-color-dark">
    </div>

    <!--Avatar-->
    <div class="avatar"><img ng-src="{{serv.image}}">
    </div>

    <div class="card-block">
        <!--Name-->
        <h4 class="card-title">{{serv.name}}</h4>
        <h4>{{serv.email}}</h4>
         <h4>{{serv.need}}</h4>
          <h4>{{serv.asunto}}</h4>
        <hr>
        <!--Quotation-->
        <p><i class="fa fa-quote-left"></i> Si puedes ayudar contactalo </p>
         <a class="btn btn-cyan" href="#"><i class="fa fa-envelope"></i></a>
           <a class="btn btn-cyan" href="#"><i class="fa fa-phone"></i></a> 
          
         <a class="btn btn-cyan" ui-sref="app.servs">Back All list</a>
    </div>

</div>
<!--/.Card-->
		</div>
		<div class="col-sm-6">
<div class="card testimonial-card">

    <!--Bacground color-->
    <div class="card-up default-color-dark">
    </div>

    <!--Avatar-->
    <div class="avatar"><img  class="img-circle img-responsive">
    </div>

    <div class="card-block">
        <!--Name-->
        <h4 class="card-title">Recommendations</h4>
        <P>Remember that users are not required to Donate </P>
        
        <hr>
       Try to contact you if this list is for something
        <hr>
        <!--Quotation-->
         <a class="btn btn-cyan"  data-toggle="modal" data-target="#myModal">need help</a>
                        
    </div>

</div>
		</div>
		</div>
		
		</div>
    
    
    
          <div class="container">
        	<div class="row">
        		 <div class="col-xs-6 ">
        			
        			<hr>
        			<ul class="list-unstyled">
                        <li >
                        
                             <a class="media-left waves-light">
           
        </a>
        <div class="media-body">
           <ul class="list-unstyled">
                        <li >
                          
                        </li>
                    </ul>
        
            
        </div>
                          
                        </li>
                    </ul>
                    <hr>
 	       		</div><!--col-->
 	       		<div class="col-xs-6">
 	       			
 	       			
 	       			
 	       		</div>
        	</div><!--row-->
        </div><!--Container-->
      
    
</section>
      
       </main>
       
        <!--/First column-->